/* main container */
main{
    background: var(--white);
}
/* first container */
.container-1{
    border: none;
    display: grid;
    height: 65vh;
    grid-template-columns: 500px 600px;
    grid-column-gap: 20px;
    justify-content: center;
}
.item{
    border: none;
}
/* image container */
.item-1{
    background-image: url(./img/Service\ \(\ Express\ Delivery\)\ Pic.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* text container */
.itm1 h2{
    font-size:20px;
    color: var(--primary);
    margin-top: 10px;
}
.itm1 p{
    font-size: 12px;
    margin-top: 15px;
    line-height: 20px;
    color: var(--text);
}
.itm1 h4{
    margin-top: 10px;
    font-size:12px;
    color: var(--primary);
}
.tic-1{
    margin-top: 10px;
    text-align: justify;
    align-items: center;
    
}
.tic-1 strong{
    margin-left:10px;
    color: var(--text);
}
/* second container */
.container-2{
    margin-top: 50px;
    display: grid;
    height: 100vh;
    border: none;
    grid-template-columns: 500px 500px;
    grid-column-gap: 10px;
    justify-content: center;
}
.box{
    border: none;
}
.itm2 h2{
    font-size:  22px;
    color: var(--primary);
}
/* svg container */
.cont-1 img{
width: 10%;
height: 10%;
}
/* text container */
.cont-1{
    display: flex;
    margin-top: 20px;
}
.cont-1 .part{
    margin-left: 20px;
}
.cont-1 .part h3{
    font-size: 15px;
    padding: 10px 0px;
    color: var(--primary);
}
.cont-1 .part p{
    color: var(--text);
}
.box-2 img{
    width: 100%;
    height: 100%;
}

/* media query - 1140px max-width*/
@media screen and (max-width: 1140px){
    .container-1{
        grid-template-columns: 500px 500px;
    }
    .itm1 p{
        font-size: 10px;       
    }
}

/* media query - 1044px max-width*/
@media screen and (max-width: 1044px){
    .container-1{
        height: 130vh;
        grid-template-columns: 500px;
        grid-template-rows: 400px;
        justify-content: center;
    }
    .container-2{
        margin-top: 50px;
        height: 150vh;
        grid-template-columns: 500px;
    }
}
/* media query - 550px max-width*/
@media screen and (max-width: 550px){
    .container-1{
        height: 130vh;
        grid-template-columns: 350px;
        grid-template-rows: 350px;
        justify-content: center;
        text-align: center;
    }
    .tic-1{
      text-align: center;
    }
   
   
    .itm2 h2{
        text-align: center;
    }
    .container-2{
        margin-top: 50px;
        height: 200vh;
        grid-template-columns: 300px;
    }
    .cont-1{
        display: block;
        text-align: center;
    }
    .box-2{
        text-align: center;
    }
    .box-2 img{
        width: 70%;
        height: 70%;
    }
}