/* variables */
:root {
    /* colors */
    --primary: #050029;
    --secondary: #A682FF;
    --tertiary: #2A2D43;
    --text: #373354;
    --subtle-text: #BCA1FF;
    --accent: #D0C8D0;
    --disabled: #9496A1;
    --white: #FFF;
    --dark: #1E1A3E;
    --success: #06BE4F;
    --error: #FC3339;

    /* font-sizes */
    --h1: 6.4rem;
    --h2: 4.8rem;
    --h3: 3rem;
    --subtitle: 2.4rem;
    --body: 1.9rem;
    --smaller-text: 1.4rem;
    --pre-title: 1.2rem;
    --button: 1.6rem;
    --link: 1.6rem;

    /* font family */
    --default-family: 'Poppins', Sans-serif;
    --links-family: "Work Sans", Sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: var(--default-family);
    background: var(--dark);
    color:var(--white);
}

/* for the sticky nav bar */
.nav-bar {
    width: 90%;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--white);
    border-radius: 0 0 10px 10px;
}
/* logo */
.logo-container {
    padding:10px;
    height: fit-content;
    width: fit-content;
    text-align: center;
}
.logo-container img {
    width: 50%;
}
/* for the nav links*/
nav.nav-links {
    width: 100%;
} 
.nav-bar nav.nav-links ul{
    font-size: var(--smaller-text);
    text-transform: uppercase;
    text-align: right;
}
.nav-links .nav-link {
    display: inline-block;
    padding: 6px 15px;
    border-right: 1px solid #ccc;
}

.nav-link > a {
    text-decoration: none;
    color: var(--primary);
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
}
/* for the track */
.nav-link:last-child {
    border: none;
}
.nav-link:last-child a{
    background-color: var(--secondary);
}
.nav-link:last-child a:hover{
    background-color: unset;
    color: var(--secondary);
}

/* for the active link */
.nav-link.active a{
    background-color: var(--primary);
    color:var(--secondary)
}
/* for the services dropdown */
.nav-links .nav-link.dropdown {
    position: relative;
}
.nav-link.dropdown .dropdown-items {
    overflow: hidden;
    transition: max-height 0.3s linear; 
    background-color: var(--primary);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 170%;
    width: 190%;
    font-size: 1rem;
    list-style: none;
    max-height:0;
}
.nav-link.dropdown .dropdown-items a {
    text-decoration: none;
}

/* for the burger icon the  */
nav .burger-icon {
    background-color: var(--primary);
    padding: 15px;
    width: fit-content;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}
nav .burger-icon:hover .line {
    background-color: var(--secondary);
}
.burger-icon .line{
    width: 20px;
    height: 3px;
    margin: 4px;
    transition: all 0.3s linear;
    background-color: var(--white);
}

/* JS classes */
.nav-link.dropdown .dropdown-items.expanded {
    max-height:100px;
}
.nav-link.dropdown .dropdown-items li {
    margin: 4px 10px;
}

/* main */
main {
    height: 100vh;
}
/* end of JS classes for nav bar */

/* general state styles */
body a {
    color:var(--white);
}
body a:hover {
    color:var(--secondary);
}


/* media query - 888px max-width*/
@media screen and (max-width: 888px) {
    /* turn nav bar to fixed and remove border radius*/
    .nav-bar {
        margin: 0;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        border-radius:0;
    }
    /* align the logo */
    .logo-container {
        text-align: center;
        align-self: flex-start;
        margin-top: 10px;
    }
    /* turn the nav links to display of block */
    .nav-links > ul {
        margin: 0 auto;
        width: 100%;
        transition: max-height 0.3s linear;
    }
    .nav-links > ul.collapsed {
        max-height: 0;
        overflow: hidden;
    }
    .nav-links > ul.expanded {
        max-height: 400px;
    }
    .nav-links ul .nav-link {
        display: block;
        border: 0;
        text-align: center;
        margin: 5px;
        border-radius:  5px;
    }
    .nav-links ul .nav-link > a {
        display: block;
    }
    /* burger */
    nav .burger-icon {
        display: block;
        margin: 10px 0;
        margin-left: auto;
        margin-right: 20px;
    }

    .burger-icon.navIsExpanded .line1 {
        transform: rotate(-45deg) translate(-5px,5px);
    }
    .burger-icon.navIsExpanded .line2 {
        opacity: 0;
    }
    .burger-icon.navIsExpanded .line3 {
        transform: rotate(45deg) translate(-5px,-5px);
    }
}